body{
margin:0px;    
font-family: 'Kaushan Script', cursive;
}

h1{
    font-size:50px;
    font-family: 'Dancing Script', cursive;

}
span.name-highlight{
color:rgb(255, 166, 1);
font-family: 'Dancing Script', cursive;
}
div.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
div.half-width img{
    width:80%;
    
}
#top-banner{
    background-image: url("images/top-banner.png");
    background-repeat:no-repeat;
    
   
}
section{
     height:500px;
}

a.link{
text-decoration:none;

color: white;
padding:10px 20px;
border-radius:10px;
background-image: linear-gradient(45deg, lightsalmon,tomato);

}